
.co-p{
    font-family: 'Roboto';
    font-size: 18px;
    font-style: italic;
    margin-left: 90px;
}

.co-p a{
    color: #86C6B5;
    font-style:normal;
}
.fond_connex{
    margin-top: 286px;
    width: 100%;
    position: absolute;
}

.bloc{
    position: absolute;
    z-index: 1;
    width: 480px;
    height: 636px;
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.13);
    left: 54%;
    top: 210px;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 350px;
    height: auto;
    margin-left: 13%;
    margin-top: 10%;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 53px;
}

form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 40px;
}

input{
    /* padding: 7.75px 10.85px; */
    width: 300px;
    height: 48px;
    margin-top: 35px;
    border: 0.775px solid #D0D5DD;
    box-shadow: 0px 0.775px 1.55px rgba(16, 24, 40, 0.05);
    border-radius: 6.2px;
    font-size: 20px;
}

.butt_connexion{
    background-color: #86C6B5;
    font-size: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: white;
    margin-top: 50px;
}

